
<div class="header-bottom">
    <div class="container">
    <div class="header-top__logo">
    <img src="../img/logoheader.png" style="width: 200px;" height="120px" alt="">
    </div>
</div>
</div>
<header class="">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar navbg">

            <div class="container">

                <!-- Navbar brand -->
             

                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="basicExampleNav">

                    <!-- Links -->
                    <ul class="navbar-nav mr-auto smooth-scroll menuflex">
                        <li class="nav-item">
                            <a class="nav-link" href="../home">TRANG CHỦ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../news">CHUẨN ĐOÁN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../fdimg">HÌNH ẢNH</a>
                        </li>
                        <li class="nav-item">
                            {{!-- <a class="nav-link" href="../contact">LIÊN HỆ</a> --}}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../tracuuthuoc">TRA CỨU THUỐC</a>
                        </li>
                    </ul>
                    <!-- Links -->
                     <ul>
                        <li>
                            <span class="tieude">Hệ thống chuẩn đoán bệnh cá</span>
                        </li>
                    </ul>
                    <!-- Social Icon  -->
                   
                </div>
                <!-- Collapsible content -->

            </div>

        </nav>
        <!--/.Navbar-->

      

</header>
    <!--Main Navigation-->

<div class="container slbenh fram">
  <div class="container titlemain">
     <span class="titlemain__1">THÔNG TIN BỆNH</span>
     {{#each imgfish}}
      <h2 class='titlemain__2'> {{ten_benh.value }}   </h2>
      {{/each}}
 </div>
  <div class="row">
     
    {{!-- tac nhan gay benh --}}
    <div class=" thongtinbenh">
      {{#each imgfish}}
          <a href="#">
            <img src="https://res.cloudinary.com/dh-can-tho/image/upload/v1607843860/fish/{{hinhanh.value }}.png" alt="Not img!!" class="img-fluid imgf">
          </a>
         {{/each}}
      <h3 class="thongtinbenh__title">
        <i class="fas fa-bug"></i>Tác nhân gây bệnh
      </h3>
      <div class="thongtinbenh__content">
        {{#each nguyen_Nhan}}
    
           <li>{{nguyen_nhan.value }} </li> 
      
        {{/each}}
      </div>
       <h3 class="thongtinbenh__title">
       <i class="fas fa-map-marker-alt"></i> Phân bố
      </h3>
      <div class="thongtinbenh__content">
        {{#each phan_Bo}}
    
          <li>{{phan_bo.value }} </li> 
      
        {{/each}}
      </div>
    </div>
    {{!-- end tac nhan gay benh --}}
   
    {{!-- start chuẩn đoán --}}
    <div class=" thongtinbenh">
      <h3 class="thongtinbenh__title">
       <i class="fas fa-question"></i> Cách chuẩn đoán
      </h3>
      <div class="thongtinbenh__content">
        {{#each chuan_Doan}}
    
         <li>{{chuan_doan.value }} </li> 
      
        {{/each}}
      </div>
    </div>
    {{!-- end chuẩn đoán --}}
    {{!-- start phòng chống --}}
    <div class=" thongtinbenh">
      <h3 class="thongtinbenh__title">
      <i class="fas fa-lightbulb"></i> Biện pháp phòng chống
      </h3>
      <div class="thongtinbenh__content">
         {{#each phongchong}}
    
            <li>{{duoc_phong_chong.value }} </li> 
      
         {{/each}}
      </div>
    </div>
    {{!-- end phòng chống --}}
    {{!-- start điêu trị --}}
    <div class=" thongtinbenh">
      <h3 class="thongtinbenh__title">
      <i class="far fa-lightbulb"></i>  Cách điều trị
      </h3>
      <div class="thongtinbenh__content">
        {{#each dieutri}}
    
           <li> {{duoc_dieu_tri.value }}</li>
      
        {{/each}}
         {{#each tenthuoc}}
    
          <li> Dùng thuốc <a target="_blank" href="../infothuoc/{{ten_thuoc.value }}">{{ten_thuoc.value }}</a></li>
      
        {{/each}}
      </div>
    </div>
    {{!-- end điều trị --}}
  </div>
  {{!-- end row --}}
</div>

{{!-- end contrainer --}}




    <!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div class="container lienhe" style="text-align: center;">
    <p> Email: huongvq11@gmail.com</p>
    
    <p> Số điện thoại: 0389147071</p>
  </div>

</footer>
<!-- Footer -->